/* font-family: 'Open Sans', sans-serif;

font-family: 'Parisienne', cursive; */

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
    
}
header{
    background-image: linear-gradient(rgba(108, 92, 231, 0.8), rgba(108, 92, 231, 0.8)) ,url(assets/hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

section{
    padding: 80px 0;
}

h1{
    font-family: 'Parisienne', cursive;
    margin: 0;
    font-weight: 200;
    font-size: 700%;
    line-height: 0.75;
}

h2{
    font-family: 'Parisienne', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 250%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #6c5ce7;
    content: " ";
    width: 200px;
    margin: 0 auto;
    /*margin-top: 30px;*/
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 35%;
    left: 38%;
    margin: 0 auto;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.title-box{
    color: #ffffff;
    margin-bottom: 25px;
    
}

.btn{
    margin-left: 35px;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #00cec9;
    border-radius: 0;
    color: #ffffff;
    border: 1pt solid #00cec9;
    border-radius: 40px;
}

.btn:hover{
    background-color: #0984e3;
    transition: background-color 0.2s;
}

.main-nav{
    float: right;
    margin-right: -200px;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin: 40px;
}

.main-nav li a{
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #ffffff;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.graph-img{
    width: 100%;
}

.working-step{
    margin-bottom: 50px;
}

.working-step div{
    color: #0984e3;
    border: 2px solid #0984e3;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
    margin-right: 25px;
}